rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /characters/{name} {
      allow read;
      allow write: if false;
    }
    match /highscores/{score} {
      allow read;
      allow create;
    }
  }
}