
/* Image */
.GameArea-image {
    margin: 0 auto;
    width: var(--main-img-width);
    height: var(--main-img-height);
    background-image: url("../images/main.jpg");
    background-size: cover;
    position: relative;
}

.GameArea-inactive {
    pointer-events: none;
}

/* Guess mark/list */
.GameArea-markspot {
    width: 0;
    height: 0;
    position: absolute;
    pointer-events: none;
    z-index: 2;
}

.GameArea-mark {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);
}

.GameArea-guesslist {
    border-width: 6px 0 6px;
    border-style: solid;
    border-color: var(--yellow) #aaa var(--blue);
    border-radius: 10px;
    position: absolute;
    background-color: #fff;
}

.GameArea-guesslist > h2 {
    margin: 0 10px;
    padding: 10px 0;
    white-space: nowrap;
}

.GameArea-guesslistbutton {
    border: 0;
    margin: 5px 10px;
    background-color: #fff;
    text-align: left;
    font-size: 0.9em;
    pointer-events: auto;
    font-weight: bold;
}

.GameArea-guesslistbutton::first-letter {
    color: red;
}

.GameArea-guesslistbutton span {
    position: relative;
    transition: left 0.2s ease-out;
    left: 0;
}

.GameArea-guesslistbutton:hover span {
    left: 10px;
}

/* Guess results */
.GameArea-guessspot {
    position: absolute;
    pointer-events: none;
    z-index: 1;
}

.GameArea-guessspot div {
    padding: 5px;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    background-color: #fff;
    position: absolute;
    transform: translate(-50%, -50%);
}

@keyframes shake-yes {
    from {
        top: 10px;
    }
    17% {
        top: -10px;
    }
    33% {
        top: 6px;
    }
    50% {
        top: -6px;
    }
    67% {
        top: 3px;
    }
    83% {
        top: -3px;
    }
    to {
        top: 0;
    }
}

@keyframes shake-no {
    from {
        left: 20px;
    }
    17% {
        left: -20px;
    }
    33% {
        left: 13px;
    }
    50% {
        left: -13px;
    }
    67% {
        left: 6px;
    }
    83% {
        left: -6px;
    }
    to {
        left: 0;
    }
}

.GameArea-goodguess {
    color: green;
    border-color: green;
    animation: 1s ease-out 0s 1 normal none running shake-yes;
}

.GameArea-badguess {
    color: red;
    border-color: red;
    animation: 1s ease-out 0s 1 normal none running shake-no;
}

/* For debug version */
.GameArea-debugcontrols {
    display: flex;
}

.GameArea label {
    display: block;
}

.GameArea-marktype {
    position: absolute;
    top: 15px;
    transform: translateX(-50%);
    color: white;
    background-color: black;
}

.GameArea-clickarea {
    position: absolute;
    pointer-events: none;
    background-color: #0000ff80;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.GameArea-clickarea > div {
    position: inherit;
    top: calc(100% + 5px);
    left: 50%;
    color: white;
    background-color: black;
}
