
/* Image */
.GameArea-image {
    margin: 0 auto;
    width: var(--main-img-width);
    height: var(--main-img-height);
    background-image: url("../images/main.jpg");
    background-size: cover;
    position: relative;
}

.GameArea-inactive {
    pointer-events: none;
}

.GameArea-markspot {
    width: 0;
    height: 0;
    position: absolute;
    pointer-events: none;
}

/* Guess mark/list */
.GameArea-mark {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);
}

.GameArea-guesslist {
    border-width: 6px 0 6px;
    border-style: solid;
    border-color: var(--yellow) #aaa var(--blue);
    border-radius: 10px;
    position: absolute;
    background-color: #fff;
}

.GameArea-guesslist > h2 {
    margin: 0 10px;
    padding: 10px 0;
    white-space: nowrap;
}

.GameArea-guesslistbutton {
    border: 0;
    margin: 5px 10px;
    background-color: #fff;
    text-align: left;
    font-size: 0.9em;
    pointer-events: auto;
    font-weight: bold;
}

.GameArea-guesslistbutton::first-letter {
    color: red;
}

.GameArea-guesslistbutton span {
    position: relative;
    transition: left 0.2s ease-out;
    left: 0;
}

.GameArea-guesslistbutton:hover span {
    left: 10px;
}

/* Guess results */
.GameArea-guessspot {
    position: absolute;
    pointer-events: none;
}

.GameArea-guesspending {
    position: absolute;
    transform: translate(-50%, -50%);
}

/* For debug version */
.GameArea-debugcontrols {
    display: flex;
}

.GameArea label {
    display: block;
}

.GameArea-marktype {
    position: absolute;
    top: 15px;
    transform: translateX(-50%);
    color: white;
    background-color: black;
}

.GameArea-clickarea {
    position: absolute;
    pointer-events: none;
    background-color: #0000ff80;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.GameArea-clickarea > div {
    position: inherit;
    top: calc(100% + 5px);
    left: 50%;
    color: white;
    background-color: black;
}
